* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: linear-gradient(to left, #5298b8, #c26f8b);
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 80vw;
    height: 80vh;
}

#registrationWindow{
    background-color: grey;
    color: whitesmoke;
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    max-width: 330px;
    margin: 0 auto;

    border-style: solid;
    border-width: medium;
}

.inputLabel {
    color: white;
}